<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>

  <form [formGroup]="messageForm" (ngSubmit)="onSubmit(messageForm.value)" (reset)="onReset()">
    <mat-form-field>
      <input matInput formControlName="text" placeholder="Text" required>
    </mat-form-field>

    <mat-card-actions align="end">
      <button type="submit" mat-icon-button color="primary">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button type="reset" mat-icon-button>
        <mat-icon>restore</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
