<mat-card>
  <mat-card-title>
    Update Profile
  </mat-card-title>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)" (reset)="onReset()">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Name" required>
    </mat-form-field>

    <mat-card-actions>
      <button type="submit" mat-icon-button color="primary">
        <mat-icon>verified</mat-icon>
      </button>
      <button type="reset" mat-icon-button>
        <mat-icon>restore</mat-icon>
      </button>
    </mat-card-actions>

  </form>
</mat-card>
